<ion-view title="Home" id="page5">
    <ion-content padding="true" class="has-header">
      <div class="list">

                  <label class="item item-input item-floating-label">
                      <span class="input-label">Message</span>
                      <input type="text" ng-model="newMessageText" placeholder="Messages">
                  </label>
                  <button class="button button-block button-calm ink" ng-click="addMessage(newMessageText)" type="button">
                      Submit
                  </button>
{{newMessageText}}

            </div>
            <ul class="list-group">
     <li class="list-group-item animated fadeIn" ng-repeat='message in messages'>
      <div class="input-group">
     <input type="text" ng-model="message.text" class="form-control" ng-change="messages.$save(message)"  placeholder="message">
     <span class="input-group-btn">
       <button class="btn btn-danger" ng-click="messages.$remove(message)" type="button">Delete !</button>
     </span>
</div>
     </li>
   </ul>
    </ion-content>
</ion-view>
