<ion-view title="New Menu" id="page6">
    <ion-content padding="true" class="has-header">
        <form id="newMenu-form2" class="list">
            <ion-list id="newMenu-list1">
                <label class="item item-input" id="newMenu-input1">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="newMenu-input2">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="newMenu-input3">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button id="newMenu-button1" style="text-align:left;" class="button button-stable  button-block icon-right ion-android-add">add Menu</button>
        </form>
    </ion-content>
</ion-view>