<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-assertive tabs-icon-top" id="tabsController-tabs1">
        <ion-tab title="Home" icon="ion-home" href="#/app/Home" id="tabsController-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Bookmark" icon="ion-bookmark" href="#/app/Bookmark" id="tabsController-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Favorite" icon="ion-android-favorite" href="#/app/Favorite" id="tabsController-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Random" icon="ion-wand" href="#/app/Random" id="tabsController-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
